/* GENERAL STYLE */

* {
    font-family: 'Playfair Display';
}

body {
    background-color:#FFEEE6;
    height: 100vh;
}

/* CONTAINERS */

.grid-container{
    padding: 9vh;
}
.cards{
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(350px, 1fr) );
    grid-gap: 20px;
}
.card{
    border: 2px black solid;
    background-color: white;
    border-radius: 8px;
    display: grid;
    grid-template-areas:
        "avatar name"
        "avatar email"
        "avatar city";
    grid-template-rows: 50px 30px 50px;
}
.modal{
    width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px;
}
.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#search-container{
    margin: 4px 0 0 0;
}
    

/* MISC */

.title{
    margin-bottom: 17px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}
img {
    height: 90%;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
}
.name {
    grid-area: name;
    align-self: end;
    font-size: 20px;
    font-weight: bold;
}
.email {
    grid-area: email;
    align-self: center;
}
.avatar{
    grid-area: avatar;
}
.name{
    grid-area: name;
}
.email{
    grid-area: email;
}
.city{
    grid-area: city;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
}
.modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    background: white;
    border: 1px solid white;
}
.hidden {
    display: none;
}
#search{
    border: 2px black solid;
    border-radius: 3px;
    width: 300px;
    background-color: #F2F4F6;
    text-align: center;
    transition: background-color 0.5s ease-in-out;
}
#search:focus {
    background-color: white;
}
.arrow-left {
    position: absolute;
    top: 50%;
    left: 10px;
}
.arrow-right {
    position: absolute;
    top: 50%;
    right: 10px;
}


